<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tm.member.dao.IMemberDao">

	<resultMap type="memberVo" id="member">
		<id column="u_idx" property="idx"/>
		<result column="userid" property="userid"/>
		<result column="pwd" property="pwd"/>
		<result column="f_name" property="firstName"/>
		<result column="l_name" property="lastName"/>
		<result column="birthday" property="birthday"/>
		<result column="country" property="country"/>
		<result column="gender" property="gender"/>
		<result column="introduce" property="introduce"/>
		<result column="u_date" property="joinDate"/>
	</resultMap>

	<insert id="memberInsert" parameterType="memberVo">
		insert into member values(0, #{userid}, #{pwd}, #{firstName}, #{lastName},
		#{birthday}, #{country}, #{gender}, #{introduce}, sysdate())
	</insert>

	<delete id="memberDelete" parameterType="memberVo">
		delete from member where userid = #{userid} and pwd = #{pwd}
	</delete>

	<select id="memberSelectOne" parameterType="String" resultMap="member">
		select * from member where userid = #{userid}
	</select>
</mapper>