<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tm.board.dao.IBoardDao">
	
	<resultMap type="boardVo" id="board">
		<id column="b_idx" 				property="boardIdx"/>
		<result column="b_code" 		property="code"/>
		<result column="b_loc_category" property="locCategory"/>
		<result column="b_sub_category" property="subCategory"/>
		<result column="b_title" 		property="title"/>
		<result column="b_start_date" 	property="startDate"/>
		<result column="b_end_date"		property="endDate"/>
		<result column="userid" 		property="userid"/>
		<result column="b_date" 		property="writeDate"/>
		<result column="b_readcount" 	property="readCount"/>
	</resultMap>
	
<!-- 	<sql id="content"> -->
<!-- <choose> -->
<!-- 			<when test="content != null"> -->
<!-- 				#{content} -->
<!-- 			</when> -->
<!-- 			<otherwise> -->
<!-- 				"내용없음" -->
<!-- 			</otherwise> -->
<!-- 		</choose> -->
<!-- </sql> -->
	
<!-- 	<include refid="title"></include> -->
	

	<insert id="insertBoard" parameterType="boardVo"
		 	useGeneratedKeys="true" keyProperty="boardIdx">
		INSERT INTO board VALUES
		(0, #{code}, #{locCategory},#{subCategory},
			#{title},#{startDate},#{endDate},#{userid},sysdate(),0)
	</insert>
	
	<select id="selectOneBoard" parameterType="int" resultMap="board">
		SELECT * FROM board
		WHERE b_idx=#{boardIdx}
	</select>
	
	<select id="getBoardCountByCode" parameterType="String" resultType="int">
		SELECT count(*) FROM board
		WHERE b_code=#{code}
	</select>
	
	
	<!-- select guide,travel -->
	<select id="selectCommonBoardLimit" parameterType="java.util.HashMap"
	resultMap="board">
		SELECT b_idx, b_title, userid, b_date, b_readcount FROM board 
		WHERE b_code=#{code} 
		ORDER BY b_idx desc limit #{skip}, #{count}
	</select>
	
	
	<!--  notice -->
	<!-- update notice -->
	<update id="updateNotice" parameterType="boardVo">
		UPDATE board SET
		b_title=#{title}, b_readcount=#{readCount}
		WHERE b_idx=#{boardIdx}
	</update>
	<!-- select notice -->
	<select id="selectNoticeBoardLimit" parameterType="java.util.HashMap"
	resultMap="board">
		SELECT b_idx, b_title, userid, b_date, b_readcount FROM board 
		WHERE b_code=#{code} 
		ORDER BY b_idx desc limit #{skip}, #{count}
	</select>
	
	
	<!--  guide -->
	<!--  update guide -->
	<update id="updateGuide" parameterType="boardVo">
		UPDATE board SET
		b_loc_category=#{locCategory}, 
		b_sub_category=#{subCategory},
		b_title=#{title},
		b_start_date=#{startDate}, 
		b_end_date=#{endDate},
		b_readcount=#{readCount}
		WHERE b_idx=#{boardIdx}
	</update>
	
	
	<!-- insert -->
<!-- 	<insert id="noticeBoardInsert" parameterType="boardVo"> -->
<!-- 		insert into board -->
<!-- 		(b_code, b_loc_category, b_sub_category, -->
<!-- 		b_title, -->
<!-- 		b_start_date, -->
<!-- 		b_end_date, userid) -->
<!-- 		values(#{b_code}, 0, 0, -->
<!-- 		#{b_title}, 0, 0, "admin") -->
<!-- 	</insert> -->
<!-- 	<insert id="travelBoardInsert" parameterType="boardVo"> -->
<!-- 		insert into board -->
<!-- 		(b_code, b_loc_category, b_sub_category, -->
<!-- 		b_title, -->
<!-- 		b_start_date, -->
<!-- 		b_end_date, userid) -->
<!-- 		values( -->
<!-- 		#{b_code} -->
<!-- 		, -->
<!-- 		#{b_loc_category}, -->
<!-- 		#{b_sub_category}, -->
<!-- 		0, #{b_start_date}, -->
<!-- 		#{b_end_date}, #{userid}); -->
<!-- 	</insert> -->
<!-- 	<insert id="guideBoardInsert" parameterType="boardVo"> -->
<!-- 		insert into board -->
<!-- 		(b_code, b_loc_category, b_sub_category, b_title, -->
<!-- 		b_start_date, -->
<!-- 		b_end_date, userid) values( -->
<!-- 		#{b_code} -->
<!-- 		, #{b_loc_category}, -->
<!-- 		#{b_sub_category}, -->
<!-- 		#{b_title}, -->
<!-- 		#{b_start_date}, -->
<!-- 		#{b_end_date}, -->
<!-- 		#{userid}) -->
<!-- 	</insert> -->
<!-- 	<insert id="reviewBoardInsert" parameterType="boardVo"> -->
<!-- 		insert into board -->
<!-- 		(b_code, loc_category, sub_category, title, start_date, end_date, -->
<!-- 		userid) -->
<!-- 		values(#{b_code}, -->
<!-- 		#{b_loc_category}, -->
<!-- 		#{b_sub_category}, -->
<!-- 		#{b_title}, -->
<!-- 		#{b_start_date}, -->
<!-- 		#{b_end_date}, -->
<!-- 		#{userid}) -->
<!-- 	</insert> -->


 	<!-- update --> 
<!-- 	<update id="boardUpdate" parameterType="boardVo"> -->
<!-- 		update board set -->
<!-- 		b_code=#{b_code}, b_loc_category=#{b_loc_category}, -->
<!-- 		b_sub_category=#{b_sub_category}, b_title=#{b_title}, -->
<!-- 		b_start_date=#{b_start_date}, b_end_date=#{b_end_date}, -->
<!-- 		userid=#{userid} where b_idx=#{b_idx} -->
<!-- 	</update> -->


 	<!-- delete --> 
<!-- 	<delete id="boardDelete" parameterType="int"> -->
<!-- 		delete from board -->
<!-- 		where -->
<!-- 		b_idx=#{b_idx} -->
<!-- 	</delete> -->


 	<!-- select --> 
 	<!-- common board select --> 
<!-- 	<select id="boardSelectByLimit" parameterType="java.util.HashMap" -->
<!-- 		resultType="boardVo"> -->
<!-- 		select * from board where -->
<!-- 		b_code= -->
<!-- 		#{b_code} -->
<!-- 		order by b_idx -->
<!-- 		desc limit #{skip}, #{count} -->
<!-- 	</select> -->
<!-- 	<select id="boardGetCount" resultType="int"> -->
<!-- 		select count(*) from board -->
<!-- 		where b_code= -->
<!-- 		#{b_code} -->
<!-- 	</select> -->

 	<!-- notice select(no image select) --> 
<!-- 	<select id="noticeBoardSelectOne" parameterType="int" -->
<!-- 		resultType="boardVo"> -->
<!-- 		select * from board where b_idx=#{b_idx} -->
<!-- 	</select> -->
<!-- 	<select id="noticeBoardSelectByCode" resultType="java.util.HashMap"> -->
<!-- 		select * from -->
<!-- 		board -->
<!-- 		where b_code= -->
<!-- 		#{b_code} -->
<!-- 		order by b_idx desc -->
<!-- 	</select> -->

 	<!-- other board select -->
<!-- 	<select id="otherBoardSelectOne" parameterType="int" -->
<!-- 		resultType="java.util.HashMap"> -->
<!-- 		select * from board b, image i where b.b_idx=#{b_idx} and -->
<!-- 		b.b_idx=i.img_code; -->
<!-- 	</select> -->
<!-- 	<select id="otherBoardSelectByCode" parameterType="String" -->
<!-- 		resultType="java.util.HashMap"> -->
<!-- 		select * from -->
<!-- 		board b, image i -->
<!-- 		where b.b_code= -->
<!-- 		#{b_code} -->
<!-- 		and -->
<!-- 		b.b_idx=i.img_code order -->
<!-- 		by b.b_date desc -->
<!-- 	</select> -->
<!-- 	<select id="otherBoardSelectByLoc_Category" parameterType="String" -->
<!-- 		resultType="java.util.HashMap"> -->
<!-- 		select b.b_title, b.userid, b.b_date, i.img_path -->
<!-- 		from board -->
<!-- 		b, image i -->
<!-- 		where b.b_code= -->
<!-- 		#{b_code} -->
<!-- 		and -->
<!-- 		b.b_loc_category=#{b_loc_category} and b.b_idx=i.img_code order by -->
<!-- 		b.b_date desc -->
<!-- 	</select> -->
<!-- 	<select id="otherBoardSelectBySub_Category" parameterType="String" -->
<!-- 		resultType="java.util.HashMap"> -->
<!-- 		select b.b_title, b.userid, b.b_date, i.img_path -->
<!-- 		from board -->
<!-- 		b, image i -->
<!-- 		where b.b_code= -->
<!-- 		#{b_code} -->
<!-- 		and -->
<!-- 		b.b_sub_category=#{b_sub_category} and b.b_idx=i.img_code order by -->
<!-- 		b.b_date desc -->
<!-- 	</select> -->


 	<!-- contents --> 
 	<!-- insert --> 
<!-- 	<insert id="contentsInsert" parameterType="contentsVo"> -->
<!-- 		insert into -->
<!-- 		contents -->
<!-- 		values(0, #{b_idx}, #{ct_num}, #{ct_contents}) -->
<!-- 	</insert> -->
 	<!-- update --> 
<!-- 	<update id="contentsUpdate" parameterType="contentsVo"> -->
<!-- 		update contents -->
<!-- 		set -->
<!-- 		ct_contents=#{ct_contents} where b_idx=#{b_idx} -->
<!-- 	</update> -->
 	<!-- delete --> 
<!-- 	<delete id="contentsDelete" parameterType="int"> -->
<!-- 		delete from -->
<!-- 		contents -->
<!-- 		where b_idx=#{b_idx} -->
<!-- 	</delete> -->
 	<!-- select --> 
<!-- 	<select id="contentsSelectOne" parameterType="int" resultType="contentsVo"> -->
<!-- 		select * from contents where b_idx=#{b_idx} -->
<!-- 	</select> -->
<!-- 	<select id="contentsSelectOneOrderby" parameterType="int" -->
<!-- 		resultType="java.util.HashMap"> -->
<!-- 		select * from contents where b_idx=#{b_idx} order by ct_num -->
<!-- 	</select> -->


 	<!-- mapposition --> 
	<!-- insert --> 
<!-- 	<insert id="mapPositionInsert" parameterType="mapPositionVo"> -->
<!-- 		insert into -->
<!-- 		mapposition values(0, -->
<!-- 		#{b_idx} ,#{map_marker}, -->
<!-- 		#{map_lat_position}, -->
<!-- 		#{map_loc_position}) -->
<!-- 	</insert> -->
 	<!-- delete --> 
<!-- 	<delete id="mapPositionDelete" parameterType="int"> -->
<!-- 		delete from -->
<!-- 		mapposition where b_idx=#{b_idx} -->
<!-- 	</delete> -->
 	<!-- select --> 
<!-- 	<select id="mapPositionSelectOne" parameterType="int" -->
<!-- 		resultType="mapPositionVo"> -->
<!-- 		select * from mapposition where b_idx=#{b_idx} -->
<!-- 		order by -->
<!-- 		map_marker -->
<!-- 	</select> -->




	<!-- notice search -->
	<!-- <select id="noticeBoardSelectBySearch" parameterType="String" -->
	<!-- resultType="boardVo"> -->
	<!-- select * from board where b_code='n' and b_title like -->
	<!-- '%${b_title}%' order by b_date desc -->
	<!-- </select> -->


	<!-- <insert id="insertContentsTravel" parameterType="contentsVo"> -->
	<!-- insert into -->
	<!-- contents values(0, #{b_idx}, #{ct_num}, #{ct_contents}) -->
	<!-- </insert> -->

	<!-- <delete id="deleteContentsTravel" parameterType="int"> -->
	<!-- delete from -->
	<!-- contents where b_idx=#{b_idx} -->
	<!-- </delete> -->


	<!-- <insert id="insertContentReview" parameterType="contentsVo"> -->
	<!-- insert into -->
	<!-- contents -->
	<!-- values(0, #{b_idx}, #{ct_num}, #{ct_contents}); -->
	<!-- </insert> -->


	<!-- <select id="selectContentsTravelOne" parameterType="int" -->
	<!-- resultType="contentsVo"> -->
	<!-- select * from contents where b_idx=#{b_idx} order by ct_num; -->
	<!-- </select> -->

	<!-- <update id="updateContents" parameterType="contentsVo"> -->
	<!-- update contents set -->
	<!-- ct_contents=#{ct_contents} where b_idx=#{b_idx} -->
	<!-- </update> -->


	<!-- <select id="selectContents" parameterType="int" resultType="java.util.HashMap"> -->
	<!-- select * from contents where b_idx=#{b_idx} order by ct_num -->
	<!-- </select> -->





	<!-- <select id="selectBoardGuideByCode" resultType="java.util.HashMap"> -->
	<!-- select * from -->
	<!-- board b, image i where b.b_code= -->
	<!-- #{b_code} -->
	<!-- and b.b_idx=i.img_code order -->
	<!-- by b.b_date desc -->
	<!-- </select> -->

	<!-- <select id="selectBoardGuideByLocCategory" parameterType="String" -->
	<!-- resultType="java.util.HashMap"> -->
	<!-- select b.b_title, b.b_userid, b.b_date, i.img_path from -->
	<!-- board b, image -->
	<!-- i where b.b_code= -->
	<!-- #{b_code} -->
	<!-- and -->
	<!-- b.b_loc_category=#{b_loc_category} and b.b_idx=i.img_code order by -->
	<!-- b.b_date desc -->
	<!-- </select> -->

	<!-- <select id="selectBoardGuideBySubCategory" parameterType="String" -->
	<!-- resultType="java.util.HashMap"> -->
	<!-- select b.b_title, b.userid, b.b_date, i.img_path from board -->
	<!-- b, image i -->
	<!-- where b.b_code= -->
	<!-- #{b_code} -->
	<!-- and -->
	<!-- b.b_sub_category=#{b_sub_category} and b.b_idx=i.img_code order by -->
	<!-- b.b_date desc -->
	<!-- </select> -->


	<!-- travel -->



	<!-- <update id="updateBoardTravel" parameterType="boardVo"> -->
	<!-- update board set -->
	<!-- b_code=#{b_code}, -->
	<!-- b_loc_category=#{b_loc_category}, -->
	<!-- b_sub_category=#{b_sub_category}, -->
	<!-- b_title=#{b_title}, -->
	<!-- b_start_date=#{b_start_date}, -->
	<!-- b_end_date=#{b_end_date}, -->
	<!-- userid=#{userid} where b_idx=#{b_idx}; -->
	<!-- </update> -->

	<!-- <delete id="deleteBoardTravel" parameterType="int"> -->
	<!-- delete from board -->
	<!-- where b_idx=#{b_idx} -->
	<!-- </delete> -->





	<!-- guide -->
	<!-- <select id="selectBoardGuideOne" parameterType="int" -->
	<!-- resultType="java.util.HashMap"> -->
	<!-- select * -->
	<!-- from board b, image i where b.b_idx=#{b_idx} and -->
	<!-- b.b_idx=i.img_code; -->
	<!-- </select> -->


	<!-- <update id="updateBoardGuide" parameterType="boardVo"> -->
	<!-- update board set -->
	<!-- b_code= -->
	<!-- #{b_code} -->
	<!-- , b_loc_category=#{b_loc_category}, -->
	<!-- b_sub_category=#{b_sub_category}, -->
	<!-- b_title=#{title}, -->
	<!-- b_start_date=#{b_start_date}, -->
	<!-- b_end_date=#{b_end_date}, -->
	<!-- userid=#{userid} where b_idx=#{b_idx} -->
	<!-- </update> -->

	<!-- <delete id="deleteBoardGuide" parameterType="int"> -->
	<!-- delete from board -->
	<!-- where -->
	<!-- b_idx=#{b_idx} -->
	<!-- </delete> -->





	<!-- <select id="selectBoardGuideByLimit" parameterType="java.util.HashMap" -->
	<!-- resultType="boardVo"> -->
	<!-- select * from board where b_code= -->
	<!-- #{b_code} -->
	<!-- order by b_idx -->
	<!-- desc limit #{skip},#{count} -->
	<!-- </select> -->

	<!-- <select id="getCountBoardGuide" resultType="int"> -->
	<!-- select count(*) from -->
	<!-- board where b_code= -->
	<!-- #{b_code} -->
	<!-- </select> -->


	<!-- review -->


	<!-- <update id="updateBoardReview" parameterType="boardVo"> -->
	<!-- update board set -->
	<!-- b_code=#{b_code}, b_loc_category=#{b_loc_category}, -->
	<!-- b_title=#{b_title}, b_start_date=#{b_start_date}, -->
	<!-- b_end_date=#{b_end_date}, userid=#{userid} where b_idx=#{b_idx} -->
	<!-- </update> -->


	<!-- <delete id="deleteBoardReview" parameterType="int"> -->
	<!-- delete from board -->
	<!-- where b_idx=#{b_idx} -->
	<!-- </delete> -->



	<!-- <select id="selectBoardReviewByCode" resultType="java.util.HashMap"> -->
	<!-- select * from -->
	<!-- board b, image i where b.b_code= -->
	<!-- #{b_code} -->
	<!-- and b.b_idx=i.img_code order -->
	<!-- by b.b_date desc -->
	<!-- </select> -->

	<!-- <select id="selectBoardReviewByLocCategory" parameterType="String" -->
	<!-- resultType="java.util.HashMap"> -->
	<!-- select b.b_title, b.b_userid, b.b_date i.img_path from -->
	<!-- board b, image -->
	<!-- i where b.b_code= -->
	<!-- #{b_code} -->
	<!-- and -->
	<!-- b.b_loc_category=#{b_loc_category} and b.b_idx=i.img_code order by -->
	<!-- b.b_date desc -->
	<!-- </select> -->

	<!-- <select id="selectBoardReviewBySubCategory" parameterType="String" -->
	<!-- resultType="java.util.HashMap"> -->
	<!-- select b.b_title, b.b_userid, b.b_date i.img_path from -->
	<!-- board b, image -->
	<!-- i where b.b_code= -->
	<!-- #{b_code} -->
	<!-- and -->
	<!-- b.b_sub_category=#{b_sub_category} and b.b_idx=i.img_code order by -->
	<!-- b.b_date desc -->
	<!-- </select> -->

	<!-- <select id="selectBoardReviewByLimit" parameterType="java.util.HashMap" -->
	<!-- resultType="boardVO"> -->
	<!-- select * from board where b_code= -->
	<!-- #{b_code} -->
	<!-- order by b_idx -->
	<!-- desc limit #{skip},#{count} -->
	<!-- </select> -->

	<!-- <select id="getCountBoardReview" resultType="int"> -->
	<!-- select count(*) from -->
	<!-- board where b_code= -->
	<!-- #{b_code} -->
	<!-- </select> -->


</mapper>