<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tm.board.dao.IBoardDao">
	
	<resultMap type="boardVo" id="board">
		<id column="b_idx" 				property="boardIdx"/>
		<result column="b_code" 		property="code"/>
		<result column="b_loc_category" property="locCategory"/>
		<result column="b_sub_category" property="subCategory"/>
		<result column="b_title" 		property="title"/>
		<result column="b_start_date" 	property="startDate"/>
		<result column="b_end_date"		property="endDate"/>
		<result column="userid" 		property="userid"/>
		<result column="b_date" 		property="writeDate"/>
		<result column="b_readcount" 	property="readCount"/>
	</resultMap>
	
<sql id="category">
	<choose>
		<when test="locCategory != null and locCategory != '' ">
			AND b_loc_category = #{locCategory}
		</when>
		<when test="subCategory != null and subCategory != '' ">
			AND b_sub_category = #{subCategory}
		</when>
	</choose>
</sql>

<sql id="search">
	<choose>
		<when test="searchValue != null and searchValue != '' ">
			AND b_title LIKE CONCAT('%',#{searchValue},'%')
		</when>
	</choose>
</sql>

<sql id="reviewCategory">
	<choose>
		<when test="subCategory != null and subCategory != '' ">
			AND b_sub_category = #{subCategory}
		</when>
	</choose>

</sql>
	

	<insert id="insertBoard" parameterType="boardVo"
		 	useGeneratedKeys="true" keyProperty="boardIdx">
		INSERT INTO board VALUES
		(0, #{code}, #{locCategory},#{subCategory},
			#{title},#{startDate},#{endDate},#{userid},sysdate(),0)
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE b_idx = #{boardIdx}
	</delete>
	
	<select id="selectOneBoard" parameterType="int" resultMap="board">
		SELECT * FROM board
		WHERE b_idx=#{boardIdx}
	</select>
	
	<select id="getNoticeBoardCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM board
		WHERE b_code=#{code} <include refid="search"></include>
	</select>
	
	<select id="getCommonBoardCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM board
		WHERE b_code=#{code} <include refid="category"></include>
	</select>

	<!-- select guide,travel -->
	<select id="selectCommonBoardLimit" parameterType="java.util.HashMap"
	resultMap="board">
		SELECT b_idx, 
			   b_title,
			   b_loc_category,
			   b_sub_category,
			   userid,
			   b_date,
			   b_readcount,
			   b_start_date,
			   b_end_date
			   FROM board 
		WHERE b_code=#{code} <include refid="category"></include>
		ORDER BY b_idx desc limit #{skip}, #{count}
	</select>
	
	
	<!--  notice -->
	<!-- update notice -->
	<update id="updateNotice" parameterType="boardVo">
		UPDATE board SET
		b_title=#{title}, b_readcount=#{readCount}
		WHERE b_idx=#{boardIdx}
	</update>
	<!-- select notice -->
	<select id="selectNoticeBoardLimit" parameterType="java.util.HashMap"
	resultMap="board">
		SELECT b_idx, b_title, userid, b_date, b_readcount FROM board 
		WHERE b_code=#{code} <include refid="search"></include>
		ORDER BY b_idx desc limit #{skip}, #{count}
	</select>
	
	<!-- review -->
	<select id="getReviewBoardCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM board
		WHERE b_code=#{code} <include refid="search"></include>
	</select>
	
<!-- 	select review -->
	<select id="selectReviewBoardLimit" parameterType="java.util.HashMap" resultMap="board">
		SELECT b_idx, b_title, userid, b_readcount, b_date
		FROM board
		WHERE b_code=#{code} 
		<include refid="search"></include> 
		<include refid="reviewCategory"></include>
		ORDER BY b_idx desc limit #{skip}, #{count}
	</select>
	
	<update id="readReview" parameterType="int">
		UPDATE board
		SET b_readcount= b_readcount+1
		WHERE b_idx=#{boardIdx}
	</update>
		
<!-- review update -->
	<update id="updateReview" parameterType="boardVo">
		UPDATE board
		SET b_title=#{title}, b_sub_category=#{subCategory}
		WHERE b_idx=#{boardIdx}
	</update>
	
	<!--  guide -->
	<!--  update guide -->
	<update id="updateCommonBoard" parameterType="boardVo">
		UPDATE board SET
		b_loc_category=#{locCategory}, 
		b_sub_category=#{subCategory},
		b_title=#{title},
		b_start_date=#{startDate}, 
		b_end_date=#{endDate},
		b_readcount=#{readCount}
		WHERE b_idx=#{boardIdx}
	</update>
	
	



</mapper>