<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IBoardTravelDao">
	
	<sql id="b_code">
		"t"
	</sql>
	
	<insert id="insertBoardTravel" parameterType="boardVo">
		insert into board (b_code, b_loc_category, b_sub_category,
		 b_title, b_start_date, b_end_date, userid)
		  values(<include refid="b_code"></include>,
		   #{b_loc_category}, #{b_sub_category},
		   0, #{b_start_date}, #{b_end_date}, #{userid});
	</insert>
	
	<insert id="insertContentsTravel" parameterType="contentsVo">
		insert into contents values(0, #{b_idx}, #{ct_num}, #{ct_contents})
	</insert>
	
	<insert id="insertImageTravel" parameterType="imageVo">
		insert into image values(0, #{img_phy_name}, #{img_ori_name}, #{img_code}, #{img_path})
	</insert>
	
	<insert id="insertMapPositionTravel" parameterType="mapPositionVo">
		insert into mapposition values(0,
      #{b_idx} ,#{map_marker},
      #{map_lat_position}, #{map_loc_position})
	</insert>

	<update id="updateBoardTravel" parameterType="boardVo">
		update board set b_code=#{b_code},
		 b_loc_category=#{b_loc_category}, b_sub_category=#{b_sub_category},
		  b_title=#{b_title}, b_start_date=#{b_start_date},
		   b_end_date=#{b_end_date}, userid=#{userid} where b_idx=#{b_idx};
	</update>
	
	<update id="updateImageTravel" parameterType="imageVo">
		update image set img_phy_name=#{img_phy_name}, img_ori_name=#{img_ori_name},
		 img_code=#{img_code}, img_path=#{img_path} where img_code=#{img_code}
	</update>
	
	<delete id="deleteBoardTravel" parameterType="int">
		delete from board where b_idx=#{b_idx}
	</delete>
	
	<delete id="deleteContentsTravel" parameterType="int">
		delete from contents where b_idx=#{b_idx}
	</delete>
	
	<delete id="deleteImageTravel" parameterType="int">
		delete from image where img_idx=#{img_idx}
	</delete>
	
	<delete id="deleteMapPositionTravel" parameterType="int">
		delete from mapposition where b_idx=#{b_idx}
	</delete>
	
	<select id="selectTravelOne" parameterType="int" resultType="java.util.HashMap">
		select * from board b, image i where b.b_idx=#{b_idx} and  b.b_idx=i.img_code;
	</select>
	
	<select id="selectContentsTravelOne" parameterType="int" resultType="contentsVo">
		select * from contents where b_idx=#{b_idx} order by ct_num;
	</select>
	
	<select id="selectMapPositionTravelOne" parameterType="int" resultType="mapPositionVo">
		 select * from mapposition where b_idx=#{b_idx}
		  order by map_marker
	</select>
	
	<select id="selectTravelByCode" resultType="java.util.HashMap">
		select * from board b, image i
		 where b.b_code=<include refid="b_code"></include>
		  and  b.b_idx=i.img_code order by b.b_date desc
	</select>
	
	<select id="selectTravelByLoc_Category" parameterType="String" resultType="java.util.HashMap">
		select b.b_title, b.userid, b.b_date, i.img_path 
		from board b, image i where b.b_code=<include refid="b_code"></include>
		 and b.b_loc_category=#{b_loc_category} and  b.b_idx=i.img_code order by b.b_date desc
	</select>
	
	<select id="selectTravelBySub_Category" parameterType="String" resultType="java.util.HashMap">
		select b.b_title, b.userid, b.b_date, i.img_path 
		from board b, image i where b.b_code=<include refid="b_code"></include>
		 and b.b_sub_category=#{b_sub_category} and  b.b_idx=i.img_code order by b.b_date desc
	</select>
	
	<select id="selectTravelByLimit" parameterType="java.util.HashMap" resultType="boardVo">
		select * from board where b_code=<include refid="b_code"></include> order by b_idx desc limit #{skip},#{count}
	</select>
	
	<select id="getCountTravel" resultType="int">
		select count(*) from board where b_code=<include refid="b_code"></include>
	</select>
	 
	 
</mapper>