<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IBoardReviewDao">

<sql id="b_code">
	"r"
</sql>

	<insert id="insertBoardReview" parameterType="java.util.HashMap">
		insert into board (b_code, loc_category, sub_category, title, start_date, end_date, userid) values(#{b_code},#{b_loc_category},#{b_sub_category},#{b_title},#{b_start_date},#{b_end_date},#{userid})
	</insert>
	
	<update id="updateBoardReview" parameterType="java.util.HashMap">
		update board set b_code=#{b_code}, b_loc_category=#{b_loc_category}, b_title=#{b_title}, b_start_date=#{b_start_date}, b_end_date=#{b_end_date}, userid=#{userid} where b_idx=#{b_idx}
	</update>
	
	<delete id="deleteBoardReview" parameterType="int">
		delete from board where b_idx=#{b_idx}
	</delete>
	
	<select id="selectReviewOne" resultType="java.util.HashMap" parameterType="int">
		select * from board b, image i where b.b_idx=#{b_idx} and b.b_idx=i.img_code;
	</select>
	
	<select id="selectReviewByCode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from board b, image i where b.b_code=<include refid="b_code"></include> and  b.b_idx=i.img_code order by b.b_date desc
	</select>
	
	<select id="selectReviewByLocCategory" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select b.b_title, b.b_userid, b.b_date i.img_path from board b, image i where b.b_code=<include refid="b_code"></include> and b.b_loc_category=#{b_loc_category} and  b.b_idx=i.img_code order by b.b_date desc
	</select>
	
	<select id="selectReviewBySubCategory" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select b.b_title, b.b_userid, b.b_date i.img_path from board b, image i where b.b_code=<include refid="b_code"></include> and b.b_sub_category=#{b_sub_category} and  b.b_idx=i.img_code order by b.b_date desc
	</select>
	
</mapper>