<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IImageDao">

   <insert id="insertImage" parameterType="ImageVo">
      insert into image values(0,
      #{img_phy_name), #{img_ori_name},
      #{img_code}, #{img_path})
   </insert>

   <update id="updateImage" parameterType="ImageVo">
      update image set
      img_phy_name=#{img_phy_name},
      img_ori_name=#{img_ori_name},
      img_path=#{img_path} where img_code=#{img_code}
   </update>

   <delete id="deleteImage" parameterType="int">
      delete from image where img_code=#{img_code}
   </delete>


</mapper>