<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tm.image.dao.IImageDao">

	<insert id="insertImage" parameterType="imageVo">
		insert into image(img_ori_name, img_code, img_path)
		values(#{img_ori_name}, #{img_code}, #{img_path})
	</insert>

	<update id="imageUpdate" parameterType="imageVo">
		update image set
		img_phy_name=#{img_phy_name}, img_ori_name=#{img_ori_name},
		img_code=#{img_code}, img_path=#{img_path} where img_code=#{img_code}
	</update>

	<delete id="imageDelete" parameterType="int">
		delete from image
		where img_idx=#{img_idx}
	</delete>

</mapper>