<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tm.board.dao.IMapPositionDao">
	
	<resultMap type="mapPositionVo" id="mapPosition">
		<id column="map_idx" 			property="mapIdx"/>
		<result column="b_idx" 			property="boardIdx"/>
		<result column="map_marker_seq" property="markerSeq"/>
		<result column="map_lat_lng" 	property="latLng"/>
		<result column="ct_seq" 		property="contentsSeq"/>
	</resultMap>
	
	

	<insert id="insertMapPosition" parameterType="mapPositionVo">
		INSERT INTO mapposition
		VALUES(0, #{boardIdx}, #{markerSeq}, #{latLng}, #{contentsSeq})
	</insert>
	
	<delete id="deleteMapPosition" parameterType="int">
		DELETE FROM mapposition 
		WHERE b_idx = #{boardIdx}
	</delete>
	
	<select id="selectMapPosition" parameterType="int" resultMap="mapPosition">
		SELECT b_idx, map_lat_lng, ct_seq FROM mapposition
		WHERE b_idx=#{boardIdx}
		ORDER BY map_marker_seq
	</select>
<!-- 	<update id="imageUpdate" parameterType="imageVo"> -->
<!-- 		update image set -->
<!-- 		img_phy_name=#{img_phy_name}, img_ori_name=#{img_ori_name}, -->
<!-- 		img_code=#{img_code}, img_path=#{img_path} where img_code=#{img_code} -->
<!-- 	</update> -->

<!-- 	<delete id="imageDelete" parameterType="int"> -->
<!-- 		delete from image -->
<!-- 		where img_idx=#{img_idx} -->
<!-- 	</delete> -->

</mapper>