<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tm.board.dao.IBoardDao">
	
	<insert id="insertBoard" parameterType="boardVo">
		insert into board (b_code, b_loc_category, b_sub_category, b_title, b_start_date, b_end_date, userid) values(<include refid="b_code"></include>, #{b_loc_category}, #{b_sub_category}, #{b_title}, #{b_start_date}, #{b_end_date}, #{userid})
	</insert>
	
	<update id="updateBoard" parameterType="boardVo">
		update board set b_code=<include refid="b_code"></include>, b_loc_category=#{b_loc_category}, b_sub_category=#{b_sub_category}, b_title=#{title}, b_start_date=#{b_start_date}, b_end_date=#{b_end_date}, userid=#{userid} where b_idx=#{b_idx}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where b_idx=#{b_idx}
	</delete>
	
	<select id="selectOne" parameterType="int" resultType="java.util.HashMap">
		select * from board b, image i where b.b_idx=#{b_idx} and b.b_idx=i.img_code;
	</select>
	
	<select id="selectBoardByCode" resultType="java.util.HashMap">
		select * from board b, image i where b.b_code=<include refid="b_code"></include> and  b.b_idx=i.img_code order by b.b_date desc
	</select>
	
	<select id="selectBoardByLocCategory" parameterType="String" resultType="java.util.HashMap">
		select b.b_title, b.b_userid, b.b_date, i.img_path from board b, image i where b.b_code=<include refid="b_code"></include> and b.b_loc_category=#{b_loc_category} and b.b_idx=i.img_code order by b.b_date desc
	</select>
	
	<select id="selectBoardBySubCategory" parameterType="String" resultType="java.util.HashMap">
		select b.b_title, b.userid, b.b_date, i.img_path from board b, image i where b.b_code=<include refid="b_code"></include> and b.b_sub_category=#{b_sub_category} and  b.b_idx=i.img_code order by b.b_date desc		
	</select>
	
	<select id="selectBoardByLimit" parameterType="java.util.HashMap" resultType="boardVo">
		select * from board where b_code=<include refid="b_code"></include> order by b_idx desc limit #{skip},#{count}
	</select>
	
	<select id="getCountBoard" resultType="int">
		select count(*) from board where b_code=<include refid="b_code"></include>
	</select>
	
	<select id="selectContents" parameterType="int" resultType="java.util.HashMap">
		select * from contents where b_idx=#{b_idx} order by ct_num
	</select>
</mapper>