@CHARSET "UTF-8";

.table-hover>tbody>tr:hover {
	background-color: #FF605A;
	color: #ffffff;
}

a {
	color: #000000;
}

a:hover {
	color: #ffffff;
}
.btn{
	float: right;
}

.jb-center{
	
	margin-left:10%;
}

.input_text { 
display: inline-block;
	width: 348px; height: 40px;
	padding-left: 6px; 
	padding-right: 6px;
	border: 3px solid #FF605A;
	line-height: 21px;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}
.sch_smit {
	width: 54px; height: 40px;
	margin: 0; border: 0;
	vertical-align: top;
	background: #FF605A;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
}

.t{
width: 1200px; 
margin: auto; 
margin-left: expression(((document.body.clientWidth>1200) ? ((document.body.clientWidth-1200)/2) : 0) + "px"); 
}