@CHARSET "UTF-8";
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #000000;
  text-decoration: none;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
a:hover,
a:focus {
  color: #FF605A;
  text-decoration: none;
}

 