<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/travelmaker_db"></property>
		<property name="username" value="root"></property>
		<property name="password" value="mysql"></property>
	</bean>
	 
	
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="mapperLocations" value="classpath*:tm/mapper/**/*.xml"></property>
		<property name="typeAliasesPackage" value="tm.vo"></property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	

<!-- 	<bean class="org.mybatis.spring.SqlSessionTemplate" id="sqlSession"> -->
<!-- 		<constructor-arg ref="sqlSessionFactory"></constructor-arg> -->
<!-- 	</bean> -->
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardGuideDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.board.guide.dao.IBoardGuideDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardNoticeDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.dao.boardnoticedao.IBoardNoticeDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardReviewDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.board.review.dao.IBoardReviewDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardTravelDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.dao.boardtraveldao.IBoardTravelDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="commentsDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.dao.commentsdao.ICommentsDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="matchingDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.dao.matchingdao.IMatchingDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="memberDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.dao.memberdao.IMemberDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="messageDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.dao.messagedao.IMessageDao"></property>
	</bean>	
	
</beans>
