<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/travelmaker_db"></property>
		<property name="username" value="root"></property>
		<property name="password" value="mysql"></property>
	</bean>
	 
	
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="mapperLocations" value="classpath*:tm/mapper/**/*.xml"></property>
		<property name="typeAliases">
			<list>
				<value>tm.board.commons.BoardVo</value>
				<value>tm.comments.vo.CommentsVo</value>
				<value>tm.matching.vo.MatchingVo</value>
				<value>tm.member.vo.MemberVo</value>
				<value>tm.message.vo.MessageVo</value>
				<value>tm.commons.vo.ContentsVo</value>
				<value>tm.commons.vo.ImageVo</value>
				<value>tm.commons.vo.MapPositionVo</value>
			</list>
		</property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	

<!-- 	<bean class="org.mybatis.spring.SqlSessionTemplate" id="sqlSession"> -->
<!-- 		<constructor-arg ref="sqlSessionFactory"></constructor-arg> -->
<!-- 	</bean> -->
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardGuideDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.board.guide.dao.IBoardGuideDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardNoticeDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.board.notice.dao.IBoardNoticeDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardReviewDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.board.review.dao.IBoardReviewDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardTravelDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.board.travel.dao.IBoardTravelDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="commentsDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.comments.dao.ICommentsDao"></property>
	</bean>
	 
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="matchingDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.matching.dao.IMatchingDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="memberDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.member.dao.IMemberDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="messageDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="tm.message.dao.IMessageDao"></property>
	</bean>	
	
</beans>
