<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tm.board.dao.ICommentsDao">

	<select id="selectOneByParent" resultType="CommentsVo" parameterType="String">
		SELECT b_idx, cm_depth+1 cm_depth, cm_order 
    	FROM comments
    	WHERE cm_idx=#{cm_parent}
	</select>
	
	<select id="selectOneMaxOrder" resultType="Integer" parameterType="String">
    	SELECT IFNULL(MAX(cm_order),0)+1
        FROM comments
        WHERE b_idx=#{b_idx}
    </select>
    
    <update id="updateByOrder" parameterType="CommentsVo"> 
    	UPDATE comments
        SET cm_order = cm_order + 1 
        WHERE b_idx=#{b_idx} AND cm_order>#{cm_order}       
    </update>
    
    <insert id="insertComments" parameterType="CommentsVo">
<!--         <selectKey resultType="String" keyProperty="cm_idx" order="BEFORE"> -->
<!--             SELECT IFNULL(MAX(cm_idx),0)+1 FROM comments -->
<!--         </selectKey> -->
    
        INSERT INTO comments(b_idx, cm_idx, cm_writer, cm_content, cm_order, cm_parent, cm_depth)
        VALUES (#{b_idx}, #{cm_idx}, #{cm_writer}, #{cm_content}, #{cm_order},
                   <choose>
                       <when test="cm_parent==null">#{cm_idx}, 0</when>
                       <otherwise>#{cm_parent}, #{cm_depth}</otherwise>
                   </choose>
               )
    </insert>
    
<!--     리스트 출력 -->
     <select id="selectByIdxComments" resultType="CommentsVo" parameterType="int">
        SELECT b_idx, cm_idx, cm_writer, cm_content, cm_date, cm_parent, cm_depth, cm_order
         FROM comments
         WHERE b_idx=#{b_idx}
         ORDER BY cm_order ASC 
    </select>
    
<!--     부모중 가장큰 order찾기 -->
	<select id="selectMaxOrderToParent" resultType="int" parameterType="CommentsVo">
		SELECT IFNULL(MAX(cm_order),0)
		FROM comments
		WHERE b_idx=#{b_idx} AND cm_parent=#{cm_parent}
	</select>
<!-- 	댓글이 생기면서 그 아래에 있는것들은 order+1 -->
	<update id="updateOrderPlus" parameterType="CommentsVo">
		UPDATE comments
		SET	cm_order=cm_order+1
		WHERE b_idx=#{b_idx} AND cm_order>=#{cm_order}
	</update>

</mapper>