<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tm.comments.dao.ICommentsDao">

	
	<select id="selectCommentsByIdx" parameterType="int" resultType="java.util.HashMap">
		select *from tb_comments where b_idx=#{b_idx}
	</select>

<!-- 	public int insertComments(HashMap<String, Object> params); -->
<!-- 	public int updateComments(HashMap<String, Object> params); -->
<!-- 	public int deleteComments(int b_idx, int c_idx); -->
<!-- 	public List<HashMap<String, Object>> selectByIdx(int b_idx); -->
	


</mapper>