<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="java.dao.*"></context:component-scan>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/travel_db"></property>
		<property name="username" value="root"></property>
		<property name="password" value="mysql"></property>
	</bean>

	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="mapperLocations" value="classpath*:resource/mapper/*.xml"></property>
		<property name="typeAliasesPackage" value="java.vo"></property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean class="org.mybatis.spring.SqlSessionTemplate" id="sqlSession">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>

<!-- 	Member의 getMapper -->
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardGuideDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IBoardGuideDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardNoticeDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IBoardNoticeDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardReviewDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IBoardReviewDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="boardTravelDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IBoardTravelDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="commentsDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.ICommentsDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="contentsDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IContentsDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="imageDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IImageDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="mapPositionDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IMapPositionDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="matchingDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IMatchingDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="memberDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IMemberDao"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="messageDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" ref="dao.IMessageDao"></property>
	</bean>
	
</beans>
