<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tm.board.dao.IContentsDao">
	
	<resultMap type="contentsVo" id="contents">
		<id column="ct_idx" 			property="contentsIdx"/>
		<result column="b_idx" 			property="boardIdx"/>
		<result column="ct_num" 		property="contentsNum"/>
		<result column="ct_contents" property="contents"/>
	</resultMap>
	
insertContents
	

	<insert id="insertContents" parameterType="contentsVo">
		insert into contents values
		(0, #{code}, #{locCategory},#{subCategory},
			#{title},#{startDate},#{endDate},"admin",sysdate(),0)
	</insert>
	
	<select id="getBoardCountByCode" parameterType="String" resultType="int">
		select count(*) from board where b_code=#{code}
	</select>
	
	<!-- select notice -->
	<select id="selectNoticeBoardLimit" parameterType="java.util.HashMap"
	resultMap="board">
		select b_idx, b_title, userid, b_date from board 
		where b_code=#{code} 
		order by b_idx desc limit #{skip}, #{count}
	</select>
	
	<select id="selectOneNotice" parameterType="int" resultMap="board">
		select b_idx, b_code, b_title, b_date, b_readcount from board
		where b_idx=#{boardIdx}
	</select>
	
	



</mapper>